@import 'assets/styles/global.scss';
.top-up {
  padding: 20px 0px;
  .card-box {
    position: relative;
    cursor: pointer;
    .large {
      font-size: 24px;
      color: #333;
      text-align: center;
    }
    .small {
      font-size: 14px;
      color: #999;
      text-align: center;
    }
    .checked {
      color: #fff;
      background: $primary-color;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .btn-box {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
  }
}