@import 'assets/styles/global.scss';

.top-bar{
  display: flex;
  color:#fff;
  padding:0 20px;
  a{
    color:#fff;
  }
  .logo{
    img{
      width: 70px;
      height: 60px;
      float: left;
      margin-left: 10px;
      padding: 10px 10px;
    }
  }
  .menu-ul {
    display: flex;
    color:#7e7e7e;
    margin-left:60px;
    
    li {
      padding: 0px 20px;
      height: 60px;
      line-height: 60px;
      cursor: pointer;
      // border-bottom: 4px solid $primary-color;
    }
    .active {
      color: #fff;
    }
  }
}

