@import 'assets/styles/global.scss';

.home-page {
  .banner-part {
    width: 100%;
    height: 600px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .welcome-box {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.7);
      top: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        color: #fff;
        font-size: 40px;
        margin: -10px 0px 25px;
        // position: absolute;
        // top: 170px;
      }
      h3 {
        color: #fff;
        font-size: 30px;
        // position: absolute;
        // top: 200px;
      }
      .btn {
        height: 40px;
        width: 140px;
        font-size: 13px;
        // position: absolute;
        // bottom: 170px;
        // animation: updown 2s infinite;
        // animation-timing-function: cubic-bezier(0.36, 0.72, 0.35, 0.92)
      }
      // @keyframes fadeInDown {
      //   from {
      //     opacity: 0;
      //     -webkit-transform: translate3d(0, -100%, 0);
      //     transform: translate3d(0, -100%, 0);
      //   }
      
      //   to {
      //     opacity: 1;
      //     -webkit-transform: translate3d(0, 0, 0);
      //     transform: translate3d(0, 0, 0);
      //   }
      // }
      
      // .fadeInDown {
      //   -webkit-animation-name: fadeInDown;
      //   animation-name: fadeInDown;
      //   animation-delay: 2s;
      // }
      // @keyframes updown {
      //   0% {
      //     bottom: 180px;
      //   }
      //   50% {
      //     bottom: 170px;
      //   }
      //   100% {
      //     bottom: 180px;
      //   }
      // }
    }
  }
  .found-part {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0px;
    .head-big {
      font-size: 30px;
    }
    .head-small {
      font-size: 12px;
      color: #bfbfbf;
      text-align: center;
      margin: -10px 0px 10px;
    }
    .first-box {
      height: 350px;
      margin: 0px 0px 16px;
      position: relative;
      .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background: rgba(0,0,0,0.5);
        top: 0;
        padding: 45px;
        display: none;
        .content-box {
          border: 1px solid #bfbfbf;
          width: 88%;
          padding: 20px;
          color: #fff;
          .small {
            font-size: 12px;
          }
        }
      }
      &:hover .mask {
        display: block;
      }
    }
    .second-box {
      height: 280px;
      .mask {
        width: 97%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background: rgba(0,0,0,0.5);
        top: 0;
        padding: 45px;
        display: none;
        .content-box {
          border: 1px solid #bfbfbf;
          width: 80%;
          padding: 20px;
          color: #fff;
          .small {
            font-size: 12px;
          }
          span {
            margin: 0px 20px;
          }
        }
      }
      &:hover .mask {
        display: block;
      }
    }
  }
  .firend-part {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0px;
    .head-big {
      font-size: 30px;
    }
    .head-small {
      font-size: 12px;
      color: #bfbfbf;
      text-align: center;
      margin: -10px 0px 10px;
    }
    .outside-box {
      height: 400px;
      margin: 0px 0px 16px;
      border: 1px solid #bfbfbf;
      &:hover {
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
      }
      img {
        width: 95%;
        height: 65%;
      }
      .text-box {
        width: 90%;
        margin: 25px auto 0px;
        .small {
          font-size: 12px;
          color: #bfbfbf;
        }
        span {
          margin: 0px 20px;
        }
      }
    }
  }
}

.img-auto {
  width: 100%;
  height: 100%;
}